{% extends "!layout.html" %}


{% block rootrellink %}
	<li><a href="{{ pathto('index') }}"><img src="{{
pathto("_static/logo.png", 1) }}" border="0" alt="PyFCell" width="50px" height="50px"/></a></li>
	<li>|&nbsp;</li>
        <li><a href="{{ pathto('index') }}">home</a>|&nbsp;</li>
        <li><a href="{{ pathto('search') }}">search</a>|&nbsp;</li>
        <li><a href="{{ pathto('api') }}">api</a>|&nbsp;</li>
        <li><a href="{{ pathto('developer_guide') }}">development</a>|&nbsp;</li>
{% endblock %}


{% block relbar1 %}


{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

